In [1]:
import pandas as pd
import matplotlib as plt
from pathlib import Path

In [29]:
dataframes=[]
for i in range(4):
    
    datalocation=f'../Data/Covid202{i}-1000.csv'
    dataframes.append(pd.read_csv(datalocation).drop({'FECHA_ACTUALIZACION',
                                                'ORIGEN',
                                                'NEUMONIA',
                                                'HABLA_LENGUA_INDIG',
                                                'OTRA_COM',
                                                'TABAQUISMO',
                                                'OTRO_CASO',
                                                'TOMA_MUESTRA_LAB',
                                                'TOMA_MUESTRA_ANTIGENO',
                                                'MIGRANTE',
                                                'PAIS_NACIONALIDAD'}
                                                ,axis=1))
    print(datalocation)

../Data/Covid2020-1000.csv
../Data/Covid2021-1000.csv
../Data/Covid2022-1000.csv
../Data/Covid2023-1000.csv

In [30]:
dataframes[0].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 29 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID_REGISTRO          1000 non-null   object
 1   SECTOR               1000 non-null   int64
 2   ENTIDAD_UM           1000 non-null   int64
 3   SEXO                 1000 non-null   int64
 4   ENTIDAD_NAC          1000 non-null   int64
 5   ENTIDAD_RES          1000 non-null   int64
 6   MUNICIPIO_RES        1000 non-null   int64
 7   TIPO_PACIENTE        1000 non-null   int64
 8   FECHA_INGRESO        1000 non-null   object
 9   FECHA_SINTOMAS       1000 non-null   object
 10  FECHA_DEF            1000 non-null   object
 11  INTUBADO             1000 non-null   int64
 12  EDAD                 1000 non-null   int64
 13  NACIONALIDAD         1000 non-null   int64
 14  EMBARAZO             1000 non-null   int64
 15  INDIGENA             1000 non-null   int64
 16  DIABETES             1000 non-null   int64
 17  EPOC                 1000 non-null   int64
 18  ASMA                 1000 non-null   int64
 19  INMUSUPR             1000 non-null   int64
 20  HIPERTENSION         1000 non-null   int64
 21  CARDIOVASCULAR       1000 non-null   int64
 22  OBESIDAD             1000 non-null   int64
 23  RENAL_CRONICA        1000 non-null   int64
 24  RESULTADO_LAB        1000 non-null   int64
 25  RESULTADO_ANTIGENO   1000 non-null   int64
 26  CLASIFICACION_FINAL  1000 non-null   int64
 27  PAIS_ORIGEN          1000 non-null   object
 28  UCI                  1000 non-null   int64
dtypes: int64(24), object(5)
memory usage: 226.7+ KB

In [31]:
dataframes[0].head()

,ID_REGISTRO,SECTOR,ENTIDAD_UM,SEXO,ENTIDAD_NAC,ENTIDAD_RES,MUNICIPIO_RES,TIPO_PACIENTE,FECHA_INGRESO,FECHA_SINTOMAS,...,INMUSUPR,HIPERTENSION,CARDIOVASCULAR,OBESIDAD,RENAL_CRONICA,RESULTADO_LAB,RESULTADO_ANTIGENO,CLASIFICACION_FINAL,PAIS_ORIGEN,UCI
0,z4d6fe,6,24,1,24,24,28,1,06/12/2020,30/11/2020,...,2,2,2,2,2,1,97,3,97,97
1,z2a3cf,6,24,2,24,24,28,1,20/02/2020,18/02/2020,...,2,2,2,2,2,97,97,6,97,97
2,z1e370,12,14,1,14,14,85,1,22/04/2020,18/04/2020,...,2,2,2,2,2,2,97,7,97,97
3,z3bf80,12,8,2,8,8,37,1,28/07/2020,20/07/2020,...,2,2,2,2,2,1,97,3,97,97
4,zz7067,12,9,2,9,9,7,1,18/08/2020,17/08/2020,...,2,1,2,2,2,2,97,7,97,97

In [38]:
Complete_data=pd.DataFrame()

In [39]:
for dataframe in dataframes:
    Complete_data=pd.concat([Complete_data,dataframe])

In [41]:
Complete_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4000 entries, 0 to 999
Data columns (total 29 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID_REGISTRO          4000 non-null   object
 1   SECTOR               4000 non-null   int64
 2   ENTIDAD_UM           4000 non-null   int64
 3   SEXO                 4000 non-null   int64
 4   ENTIDAD_NAC          4000 non-null   int64
 5   ENTIDAD_RES          4000 non-null   int64
 6   MUNICIPIO_RES        4000 non-null   int64
 7   TIPO_PACIENTE        4000 non-null   int64
 8   FECHA_INGRESO        4000 non-null   object
 9   FECHA_SINTOMAS       4000 non-null   object
 10  FECHA_DEF            4000 non-null   object
 11  INTUBADO             4000 non-null   int64
 12  EDAD                 4000 non-null   int64
 13  NACIONALIDAD         4000 non-null   int64
 14  EMBARAZO             4000 non-null   int64
 15  INDIGENA             4000 non-null   int64
 16  DIABETES             4000 non-null   int64
 17  EPOC                 4000 non-null   int64
 18  ASMA                 4000 non-null   int64
 19  INMUSUPR             4000 non-null   int64
 20  HIPERTENSION         4000 non-null   int64
 21  CARDIOVASCULAR       4000 non-null   int64
 22  OBESIDAD             4000 non-null   int64
 23  RENAL_CRONICA        4000 non-null   int64
 24  RESULTADO_LAB        4000 non-null   int64
 25  RESULTADO_ANTIGENO   4000 non-null   int64
 26  CLASIFICACION_FINAL  4000 non-null   int64
 27  PAIS_ORIGEN          4000 non-null   object
 28  UCI                  4000 non-null   int64
dtypes: int64(24), object(5)
memory usage: 937.5+ KB