In [13]:
import pandas as pd
import matplotlib as plt
from pathlib import Path

In [14]:
#dataframes to decode main tables
entidades=pd.read_csv('../Data/ENTIDADES.csv')
nacionalidad=pd.read_csv('../Data/NACIONALIDAD.csv')
paciente=pd.read_csv('../Data/PACIENTE.csv')
result_antig=pd.read_csv('../Data/RESULT_ANTIG.csv')
result_lab=pd.read_csv('../Data/RESULT_LAB.csv')
sector=pd.read_csv('../Data/SECTOR.csv')
sexo=pd.read_csv('../Data/SEXO.csv')
si_no_pd=pd.read_csv('../Data/SI_NO.csv')

In [15]:
dataframes=[]
for i in range(1):
    
    datalocation=f'../Data/Covid202{i}-MUERTOS.csv'
    dataframes.append(pd.read_csv(datalocation).drop({'FECHA_ACTUALIZACION',
                                                'ENTIDAD_NAC',
                                                'ENTIDAD_RES',
                                                'MUNICIPIO_RES',
                                                'ORIGEN',
                                                'NEUMONIA',
                                                'HABLA_LENGUA_INDIG',
                                                'OTRA_COM',
                                                'TABAQUISMO',
                                                'OTRO_CASO',
                                                'TOMA_MUESTRA_LAB',
                                                'TOMA_MUESTRA_ANTIGENO',
                                                'MIGRANTE',
                                                'PAIS_NACIONALIDAD'}
                                                ,axis=1))
    print(datalocation)

../Data/Covid2020-MUERTOS.csv

In [16]:
dataframes[0].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 82115 entries, 0 to 82114
Data columns (total 26 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID_REGISTRO          82115 non-null  object
 1   SECTOR               82115 non-null  int64
 2   ENTIDAD_UM           82115 non-null  int64
 3   SEXO                 82115 non-null  int64
 4   TIPO_PACIENTE        82115 non-null  int64
 5   FECHA_INGRESO        82115 non-null  object
 6   FECHA_SINTOMAS       82115 non-null  object
 7   FECHA_DEF            82115 non-null  object
 8   INTUBADO             82115 non-null  int64
 9   EDAD                 82115 non-null  int64
 10  NACIONALIDAD         82115 non-null  int64
 11  EMBARAZO             82115 non-null  int64
 12  INDIGENA             82115 non-null  int64
 13  DIABETES             82115 non-null  int64
 14  EPOC                 82115 non-null  int64
 15  ASMA                 82115 non-null  int64
 16  INMUSUPR             82115 non-null  int64
 17  HIPERTENSION         82115 non-null  int64
 18  CARDIOVASCULAR       82115 non-null  int64
 19  OBESIDAD             82115 non-null  int64
 20  RENAL_CRONICA        82115 non-null  int64
 21  RESULTADO_LAB        82115 non-null  int64
 22  RESULTADO_ANTIGENO   82115 non-null  int64
 23  CLASIFICACION_FINAL  82115 non-null  int64
 24  PAIS_ORIGEN          82115 non-null  object
 25  UCI                  82115 non-null  int64
dtypes: int64(21), object(5)
memory usage: 16.3+ MB

In [17]:
dataframes[0].head()

,ID_REGISTRO,SECTOR,ENTIDAD_UM,SEXO,TIPO_PACIENTE,FECHA_INGRESO,FECHA_SINTOMAS,FECHA_DEF,INTUBADO,EDAD,...,INMUSUPR,HIPERTENSION,CARDIOVASCULAR,OBESIDAD,RENAL_CRONICA,RESULTADO_LAB,RESULTADO_ANTIGENO,CLASIFICACION_FINAL,PAIS_ORIGEN,UCI
0,z4e838,12,9,2,2,18/02/2020,18/02/2020,11/05/2020,1,60,...,2,2,2,2,2,2,97,7,97,2
1,z1da2d,12,2,1,2,18/06/2020,12/06/2020,19/07/2020,2,33,...,98,98,98,98,98,97,97,6,97,2
2,z49a69,12,23,1,2,20/07/2020,17/07/2020,21/07/2020,1,66,...,2,1,2,1,2,97,97,2,97,1
3,1236ca,3,15,2,2,14/12/2020,12/12/2020,17/12/2020,2,58,...,2,1,1,2,1,1,97,3,97,2
4,12914d,12,32,1,2,15/12/2020,15/12/2020,15/12/2020,2,30,...,2,2,2,2,1,1,97,3,97,2

In [18]:
complete_data=pd.DataFrame()

In [19]:
for dataframe in dataframes:
    complete_data=pd.concat([complete_data,dataframe])

In [20]:
complete_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 82115 entries, 0 to 82114
Data columns (total 26 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID_REGISTRO          82115 non-null  object
 1   SECTOR               82115 non-null  int64
 2   ENTIDAD_UM           82115 non-null  int64
 3   SEXO                 82115 non-null  int64
 4   TIPO_PACIENTE        82115 non-null  int64
 5   FECHA_INGRESO        82115 non-null  object
 6   FECHA_SINTOMAS       82115 non-null  object
 7   FECHA_DEF            82115 non-null  object
 8   INTUBADO             82115 non-null  int64
 9   EDAD                 82115 non-null  int64
 10  NACIONALIDAD         82115 non-null  int64
 11  EMBARAZO             82115 non-null  int64
 12  INDIGENA             82115 non-null  int64
 13  DIABETES             82115 non-null  int64
 14  EPOC                 82115 non-null  int64
 15  ASMA                 82115 non-null  int64
 16  INMUSUPR             82115 non-null  int64
 17  HIPERTENSION         82115 non-null  int64
 18  CARDIOVASCULAR       82115 non-null  int64
 19  OBESIDAD             82115 non-null  int64
 20  RENAL_CRONICA        82115 non-null  int64
 21  RESULTADO_LAB        82115 non-null  int64
 22  RESULTADO_ANTIGENO   82115 non-null  int64
 23  CLASIFICACION_FINAL  82115 non-null  int64
 24  PAIS_ORIGEN          82115 non-null  object
 25  UCI                  82115 non-null  int64
dtypes: int64(21), object(5)
memory usage: 16.3+ MB

In [21]:
complete_data.head(5)

,ID_REGISTRO,SECTOR,ENTIDAD_UM,SEXO,TIPO_PACIENTE,FECHA_INGRESO,FECHA_SINTOMAS,FECHA_DEF,INTUBADO,EDAD,...,INMUSUPR,HIPERTENSION,CARDIOVASCULAR,OBESIDAD,RENAL_CRONICA,RESULTADO_LAB,RESULTADO_ANTIGENO,CLASIFICACION_FINAL,PAIS_ORIGEN,UCI
0,z4e838,12,9,2,2,18/02/2020,18/02/2020,11/05/2020,1,60,...,2,2,2,2,2,2,97,7,97,2
1,z1da2d,12,2,1,2,18/06/2020,12/06/2020,19/07/2020,2,33,...,98,98,98,98,98,97,97,6,97,2
2,z49a69,12,23,1,2,20/07/2020,17/07/2020,21/07/2020,1,66,...,2,1,2,1,2,97,97,2,97,1
3,1236ca,3,15,2,2,14/12/2020,12/12/2020,17/12/2020,2,58,...,2,1,1,2,1,1,97,3,97,2
4,12914d,12,32,1,2,15/12/2020,15/12/2020,15/12/2020,2,30,...,2,2,2,2,1,1,97,3,97,2

In [22]:
#Replace data on dataframe (EXCEPT SI_NO)
complete_data2=pd.DataFrame.merge(complete_data,entidades,on='ENTIDAD_UM',how='inner')
complete_data2=complete_data2.drop({'ENTIDAD_UM'},axis=1)

complete_data2=pd.DataFrame.merge(complete_data2,paciente,on='TIPO_PACIENTE',how='inner')
complete_data2=complete_data2.drop({'TIPO_PACIENTE'},axis=1)

complete_data2=pd.DataFrame.merge(complete_data2,sector,on='SECTOR',how='inner')
complete_data2=complete_data2.drop({'SECTOR'},axis=1)

complete_data2=pd.DataFrame.merge(complete_data2,sexo,on='SEXO',how='inner')
complete_data2=complete_data2.drop({'SEXO'},axis=1)

complete_data2=complete_data2.loc[complete_data2['NACIONALIDAD']==1]
complete_data2=complete_data2.drop({'NACIONALIDAD'},axis=1)

complete_data2=complete_data2.loc[complete_data2['INDIGENA']==2]
complete_data2=complete_data2.drop({'INDIGENA'},axis=1)

complete_data2=complete_data2.loc[complete_data2['FECHA_DEF']!='9999-99-99']
complete_data2=complete_data2.drop({'FECHA_DEF'},axis=1)

In [24]:

si_no_pd=si_no_pd.rename(columns={'CLAVE':'INTUBADO'})
complete_data2=pd.DataFrame.merge(complete_data2,si_no_pd,on='INTUBADO',how='inner')
complete_data2=complete_data2.drop({'INTUBADO'},axis=1)
complete_data2=complete_data2.rename(columns={'DESCRIPCION_y':'INTUBADO'})
si_no_pd=si_no_pd.rename(columns={'INTUBADO':'CLAVE'})

In [25]:
complete_data2

,ID_REGISTRO,FECHA_INGRESO,FECHA_SINTOMAS,EDAD,EMBARAZO,DIABETES,EPOC,ASMA,INMUSUPR,HIPERTENSION,...,RESULTADO_LAB,RESULTADO_ANTIGENO,CLASIFICACION_FINAL,PAIS_ORIGEN,UCI,ENTIDAD_FEDERATIVA_HOSPITAL,DESCRIPCION_x,ATENCION MEDICA,SEXO PACIENTE,INTUBADO
0,z4e838,18/02/2020,18/02/2020,60,97,2,2,2,2,2,...,2,97,7,97,2,CIUDAD DE MEXICO,HOSPITALIZADO,SSA,HOMBRE,SI
1,12d70a,06/01/2020,05/01/2020,58,97,1,2,2,2,2,...,2,97,7,97,1,CIUDAD DE MEXICO,HOSPITALIZADO,SSA,HOMBRE,SI
2,1a91bf,17/01/2020,16/01/2020,78,97,1,2,2,2,2,...,2,97,7,97,2,CIUDAD DE MEXICO,HOSPITALIZADO,SSA,HOMBRE,SI
3,0aabe7,18/01/2020,03/01/2020,31,97,2,2,2,1,2,...,2,97,7,97,2,CIUDAD DE MEXICO,HOSPITALIZADO,SSA,HOMBRE,SI
4,1a0ea5,20/01/2020,18/01/2020,52,97,2,2,2,2,2,...,2,97,7,97,1,CIUDAD DE MEXICO,HOSPITALIZADO,SSA,HOMBRE,SI
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78620,00fbac,03/07/2020,20/06/2020,82,2,2,2,2,2,2,...,1,97,3,97,97,PUEBLA,AMBULATORIO,UNIVERSITARIO,MUJER,NO APLICA
78621,0daec8,13/07/2020,06/07/2020,82,2,2,2,2,2,2,...,1,97,3,97,97,PUEBLA,AMBULATORIO,UNIVERSITARIO,MUJER,NO APLICA
78622,55595,31/05/2020,24/05/2020,64,2,1,2,2,2,2,...,1,97,3,97,97,JALISCO,AMBULATORIO,MUNICIPAL,MUJER,NO APLICA
78623,85884,08/06/2020,06/06/2020,46,2,1,2,2,2,1,...,2,97,7,97,97,JALISCO,AMBULATORIO,MUNICIPAL,MUJER,NO APLICA
78624,0ae84c,25/04/2020,20/04/2020,65,2,2,2,2,2,1,...,1,97,3,97,97,CIUDAD DE MEXICO,AMBULATORIO,CRUZ ROJA,MUJER,NO APLICA